.flex {
	display: flex;
}

.j-between {
	justify-content: space-between;
}

.a-flexstart {
	align-items: flex-start;
}

.news {
	width: 30%;
	margin: 10px;
	border: .5px solid grey;
}

.news img {
	width: 100%;
}

.news .radius {
	font-weight: bold;
	width: 40px;
	margin: 10px 10px 10px;
	text-align: center;
	color: white;
	border: 2px solid;
	border-radius: 10px;
}

.news .bggreen {
	background-color: #4dbd74;
}

.news .content {
	padding: 0 0 0 10px;
}

.news .content.topic {
	padding-top: 10px;
	color: #20a8d8;
}

.news .content.time {
	color: #73818f;
}

.news .content.info {
	padding-top: 10px;
	padding-bottom: 10px;
}

